.login-container {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(146, 117, 117);
}

input:focus {
  outline: none;
  border: 1px solid #ff6e14;
}
h1 {
  text-align: center;
  font-size:22px;
  font-weight: 600;
}

input.error {
  border: 1px solid red;
}
/* Ensure the form items have spacing */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* This creates space between all fields and buttons */
}

.login-btn {
  background-color: #ea580c;
  color: white;
  padding: 12px;
  border-radius: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.modifier-btn {
  background: transparent;
  color: #ea580c;
  border: 1px solid #ea580c;
  padding: 12px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.modifier-btn:hover {
  background: #fff7ed;
}
.field {
  margin-bottom: 15px;
  border-radius: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff6e14;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background: #e65c00;
}

span {
  color: red;
  font-size: 12px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}